/* Make the invisible visible */

* {
  border: thin red solid;
}

h1 {
	background-color: #C0C0C0;
	height:	200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.boxes {
	float: left;
	display: inline-block;
	width: 400px;
}

#description_2 {
	height: 500px;
}

.screenshot {
	float: left;
	height: 500px;
	width: 800px;
	display: inline-block;
}

.testimonials {
	clear: both;
	display: inline-block;
	width: 300px;

}

footer {
	clear: both;
}
